# SPDX-License-Identifier: GPL-3.0-or-later
[Desktop Entry]
Name=Workstation Starter Kit
Comment=Simple RPM workstation bootstrap assistant
Exec=workstation-starter-kit
Icon=computer
Terminal=false
Type=Application
Categories=System;Settings;
